# RS232 Configuration
NET txd       LOC="AG20";  # Bank 4, Vcco=3.3V, No DCI (txd)
# Switch Configuration
NET rst       LOC="U25";   # Bank 15, Vcco=1.8V, DCI using 49.9 ohm resistors
# Clock Configuration
NET clk       LOC="AH15";  # Bank 4, Vcco=3.3V, No DCI

NET  GPIO_LED_0           LOC="H18";   # Bank 3, Vcco=2.5V, No DCI
NET  GPIO_LED_1           LOC="L18";   # Bank 3, Vcco=2.5V, No DCI
NET  GPIO_LED_2           LOC="G15";   # Bank 3, Vcco=2.5V, No DCI
NET  GPIO_LED_3           LOC="AD26";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_LED_4           LOC="G16";   # Bank 3, Vcco=2.5V, No DCI
NET  GPIO_LED_5           LOC="AD25";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_LED_6           LOC="AD24";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_LED_7           LOC="AE24";  # Bank 21, Vcco=1.8V, 

#Created by Constraints Editor (xc5vlx110t-ff1136-1) - 2016/10/27
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50%;
